<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotal.push.serviceUrl</key>
	<string>http://push-notifications.mobile.piv-demo.com</string>
	<key>pivotal.push.platformUuidDevelopment</key>
	<string>8fe39e33-142c-4854-b351-c1fbb0c17c66</string>
	<key>pivotal.push.platformSecretDevelopment</key>
	<string>221c675a-0060-4c7a-8de4-fce8ad713467</string>
	<key>pivotal.push.platformUuidProduction</key>
	<string>c585582d-29e8-450c-9d5a-4df28b9e853b</string>
	<key>pivotal.push.platformSecretProduction</key>
	<string>eed736f9-7109-42ca-8d2b-5b85d98a1d8e</string>
	<key>pivotal.auth.tokenUrl</key>
	<string>https://www.googleapis.com/oauth2/v3/token</string>
	<key>pivotal.auth.authorizeUrl</key>
	<string>https://accounts.google.com/o/oauth2/auth</string>
	<key>pivotal.auth.redirectUrl</key>
	<string>http://pivotal.io/auth/oauth2callback</string>
	<key>pivotal.auth.clientId</key>
	<string>752344106353-tp9sitkm4i74nk3k00ci9ffmoir09meu.apps.googleusercontent.com</string>
	<key>pivotal.auth.clientSecret</key>
	<string>8JOO7oHxddbLyJQfnXnLu71W</string>
	<key>pivotal.auth.scopes</key>
	<string>openid</string>
	<key>pivotal.data.serviceUrl</key>
	<string>http://datasync-datastore.mobile.piv-demo.com/data/transit</string>
	<key>pivotal.data.collisionStrategy</key>
	<string>OptimisticLocking</string>
</dict>
</plist>
